:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 16);
}

@media(min-width: 700px) {
  :root {
    --pixel-size: 3px;
  }
}

@media(min-width: 900px) {
  :root {
    --pixel-size: 4px;
  }
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9fa7e4;
}

.pixel-art {
  image-rendering: pixelated;
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  border: 2px solid red;
  overflow: hidden; /* change to hidden if visible */
  background: #61ddf7;
  position: relative;
}

.map {
  image-rendering: pixelated;
  background-image: url(../public/images/maps/test_map.png);
  background-size: 100%;
  width: calc(16 * var(--grid-cell));
  height: calc(16 * var(--grid-cell));
  position: relative;
  /* transition: .6s all; */
  /* transition-timing-function: linear; */
}

.character {
  top: calc(var(--pixel-size) * -7);
  left: calc(var(--pixel-size) * -7.5);
  width: calc(var(--grid-cell) * 2);
  height: calc(var(--grid-cell) * 2);
  position: absolute;
  overflow: hidden; /* change to hidden if visible */
  /* transition: .6s all; */
  /* transition-timing-function: linear; */
}

.character-spritesheet {
  position: absolute;
  width: calc(var(--pixel-size) * 128);
  height: calc(var(--pixel-size) * 128);
}
.character[walking='true'] .character-spritesheet{
  animation: moveSpritesheet 0.6s steps(4) infinite;
}

.face-right {
  top: calc(var(--pixel-size) * -32);
}
.face-up {
  top: calc(var(--pixel-size) * -64);
}
.face-left {
  top: calc(var(--pixel-size) * -96);
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}