:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 16);
}

@media(min-width: 700px) {
  :root {
    --pixel-size: 3px;
  }
}

@media(min-width: 900px) {
  :root {
    --pixel-size: 4px;
  }
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9fa7e4;
}

.pixel-art {
  image-rendering: pixelated;
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  border: 2px solid red;
  overflow: hidden; /* change to hidden if visible */
  background: #61ddf7;
  position: relative;
}

.map {
  image-rendering: pixelated;
  background-image: url(../public/images/maps/test_map.png);
  background-size: 100%;
  width: calc(16 * var(--grid-cell));
  height: calc(16 * var(--grid-cell));
  position: relative;
  /* transition: .6s all; */
  /* transition-timing-function: linear; */
}

.character {
  top: calc(var(--pixel-size) * -7);
  left: calc(var(--pixel-size) * -7.5);
  width: calc(var(--grid-cell) * 2);
  height: calc(var(--grid-cell) * 2);
  position: absolute;
  overflow: hidden; /* change to hidden if visible */
  /* transition: .6s all; */
  /* transition-timing-function: linear; */
}

.character-spritesheet {
  position: absolute;
  width: calc(var(--pixel-size) * 128);
  height: calc(var(--pixel-size) * 192);
}
.character[walking='true'] .character-spritesheet{
  animation: moveSpritesheet 0.6s steps(4) infinite;
}
.face-right {
  top: calc(var(--pixel-size) * -32);
}
.face-up {
  top: calc(var(--pixel-size) * -64);
}
.face-left {
  top: calc(var(--pixel-size) * -96);
}
.idle-left {
  top: calc(var(--pixel-size) * -128);
}
.idle-right {
  top: calc(var(--pixel-size) * -160);
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.dpad {
  position:absolute;
  right: calc(var(--pixel-size) * 2);
  bottom: calc(var(--pixel-size) * 2);
  width: calc(var(--pixel-size) * 37);
  height: calc(var(--pixel-size) * 38);
}
.dpad-button {
  appearance:none;
  outline:0;
  border:0;
  background:transparent;
  padding:0;
  cursor:pointer;
}
.dpad-button svg {
  display:block;
  height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset { stroke:#07c2cc; }
.dpad-button.pressed .Arrow_arrow-body { stroke:#17dfea; }

.dpad-up {
  position: absolute;
  left: calc(var(--pixel-size) * 12);
  top:0;
}
.dpad-down {
  position: absolute;
  bottom:var(--pixel-size);
  left: calc(var(--pixel-size) * 12);
}
.dpad-left {
  position: absolute;
  top: calc(var(--pixel-size) * 12);
  left:0;
}
.dpad-right {
  position: absolute;
  top: calc(var(--pixel-size) * 12);
  right:0;
}

.dpad {
  user-select:none;
}

/* Start Menu */

.background {
  image-rendering: pixelated;
  background-image: url(../public/images/backgrounds/StartBackground.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: calc(200 * var(--pixel-size));
  height: calc(100 * var(--pixel-size));
}
.startMenu {
  display: flex;
  height: calc(100 * var(--pixel-size));
  flex-direction: column;
  justify-content: center;
  align-items: center;
}