$main: #ff8d22;
$outline: #e56a2e;
$cheek: #ffd2f1;
$black: #000;
$white: #FFF;
$chainsaw_metal: #71917a;
$chainsaw_outline: #87a790;
$handle: #4f4c47;
$blood: #c41526;
$blood2: #ab0516;
$blood3: #8d0b17;
